@model Sitefinity.EnhancedForms.Mvc.Models.DateField.DateFieldViewModel

<div class="@Model.CssClass sf-fieldWrp" data-sf-role="date-field-container">
    <strong>@Model.MetaField.Title</strong>
    <p>@Model.Value</p>
</div>
