@model Sitefinity.EnhancedForms.Mvc.Models.ConfirmationField.ConfirmationFieldViewModel

<div class="@Model.CssClass form-group" data-sf-role="text-field-container">
    <strong>@Model.MetaField.Title</strong>
    <p>@Model.Value</p>
</div>
